always-auth=false
allow-same-version=true
auto-install-peers=false
enable-pre-post-scripts=true
git-tag-version=false
link-workspace-packages=true
message="chore(release): publish %s"
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*prettier*
proxy=http://proxycn2.huawei.com:8080/
https-proxy=http://proxycn2.huawei.com:8080/
registry=http://repo.huaweicloud.com/repository/npm/
sass_binary_site=https://repo.huaweicloud.com/node-sass/
phantomjs_cdnurl=https://repo.huaweicloud.com/phantomjs/
chromedriver_cdnurl=https://repo.huaweicloud.com/chromedriver/
operadriver_cdnurl=https://repo.huaweicloud.com/operadriver/
electron_mirror=http://repo.huaweicloud.com/electron/
disturl=https://repo.huaweicloud.com/nodejs/
python_mirror=https://repo.huaweicloud.com/python/
strict-peer-dependencies=false

{SCOPE}:registry=https://npm.pkg.github.com
