.title {
  text-align: center;
  color: #666;
  margin: 32px;
}

.van-grid-item__text {
  color: #e64340 !important;
  font-size: 28px !important;
}

.user-code-bar {
  width: 650px;
  height: 200px;
  margin-left: 50px;
}

.user-code {
  width: 650px;
  height: 650px;
  margin-left: 50px;
}