.noApply {
  margin-top: 150px;
  text-align: center;
}
.noApply image {
  width: 300px;
}
.profile {
  text-align: center;
  margin-top:30px;
  font-size: 28px;
  color:#888;
}
.mini-btn{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.qrcode-button {
  padding:30px;
}
.canvas {
  width:750px;
}
.block-btn {
  padding: 8px 32px;
}