.todo-dot-bottom {
  color: red !important;
}
.zwqd-box {
  text-align: center;
  margin: auto;
  margin-top: 32px;
}
.zwqd-box image {
  width: 140px;
  height: 140px;
  margin: auto;
}
.zwqd-box view {
  margin-top: 16px;
  color: #999;
  font-size: 26px;
}