@import '../common/index.scss';

.van-goods-action-icon {
  border: none;
  color: var(--goods-action-icon-text-color, #646566) !important;
  display: flex;
  flex-direction: column;
  font-size: var(--goods-action-icon-font-size, 20px) !important;
  height: var(--goods-action-icon-height, 100px) !important;
  justify-content: center;
  line-height: 1;
  min-width: var(--goods-action-icon-width, 96px);
  margin-top: 0px;
  width: 50%;
}

.van-goods-action-icon__icon {
  color: var(--goods-action-icon-color, #323233);
  display: flex;
  font-size: var(--goods-action-icon-size, 36px);
  margin: 0 auto 10px
}
