.btn {
  padding: 32px;
}
.hx-qrcode {
  padding: 32px;
  text-align: center;
  color: #333;
}
.hx-qrcode .t {
  font-weight: bold;
}
.hx-qrcode .t2 {
  font-size: 26px;
  color: #666;
}
.hx-qrcode .hx-canvas {
  width: 650px;
  height: 650px;
}
.statusStr {
  color: #e64340 !important;
  font-weight: bold;
}