page {
  background-color: #f3f4f5;
}
.no-order {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-order image {
  width: 294px;
  height: 310px;
}

.no-order view {
  margin-top: 30px;
  font-family: PingFangSC-Medium;
  font-size: 30px;
  color: #333;
  letter-spacing: 0;
}

.cashlogs {
  width: 702px;
  margin-top: 24px;  
  margin-left: 24px;  
  height: 148px;
  background: #FFFFFF;
  box-shadow: 0 0 16px 0 rgba(36,44,69,0.20);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cashlogs .profile {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.cashlogs .amount {
  font-size: 24px;
  color: #FEB21C;
  margin-right: 24px;
  flex-shrink: 0;
}
.cashlogs .profile .typeStr {
  font-size: 30px;
  color: #333333;
}
.cashlogs .profile .dateAdd {
  margin-top: 16px;
  font-size: 24px;
  color: #999999;
}
.bottom {
  width: 100vw;
  height: 24px;
}