.notice {
  padding: 32px;
  font-size: 26px;
  color: #333;
}
.title {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 32px;
}
.text {
  margin-top: 32px;
  line-height: 64px;
}
.text image {
  max-width: 100%;
}